node_modules/
yarn-error.log

dist/

# Generated proto files
src/v2/types/generated/
proto-deps/

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env
.omega.json
*.sublime-project
*.sublime-workspace
.DS_Store
.claude/
mnemonic*
